src/main/config/request.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://in28minutes.com/courses" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="getBookdetailsRequest" type="cour:getBookdetailsRequestType" xmlns:cour="http://in28minutes.com/courses"/>
  <xs:complexType name="getBookdetailsRequestType">
    <xs:sequence>
      <xs:element type="xs:int" name="id"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>