src/main/config/response.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://in28minutes.com/courses"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="GetCourseDetailsResponse" type="cour:GetCourseDetailsResponseType" xmlns:cour="http://in28minutes.com/courses"/>
  <xs:complexType name="CourseDetailsType">
    <xs:sequence>
      <xs:element type="xs:integer" name="id"/>
      <xs:element type="xs:string" name="name"/>
      <xs:element type="xs:string" name="author"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GetCourseDetailsResponseType">
    <xs:sequence>
      <xs:element type="cour:CourseDetailsType" name="CourseDetails" xmlns:cour="http://in28minutes.com/courses"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>